################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Playground/bin/Debug
/Playground/obj/Debug
/Playground/obj
/Playground.Test/bin/Debug/net9.0
/Playground.Test/obj
/.sonarqube
