################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Playground/bin/Debug
/Playground/obj/Debug
/Playground/obj
/Playground.Test/bin/Debug/net9.0
/Playground.Test/obj
/.sonarqube
/obj
/NUnit/bin/Debug/net9.0
/NUnit/obj
/NUnit/TestResults
/Nunit2/bin/Debug/net461
/Nunit2/NUnit.Console-3.18.3.zip
/Nunit2/obj
/Playground.Test/TestResults/alexander.meseldzija_PC-L0109_2024-11-19_08_45_20.trx
/Playground.Test/TestResults/alexander.meseldzija_PC-L0109_2024-11-20_10_37_08.trx
/Playground.Test/TestResults/alexander.meseldzija_PC-L0109_2024-11-20_14_55_58.trx
/Playground.Test/TestResults/alexander.meseldzija_PC-L0109_2024-11-20_14_56_47.trx
/Playground.Test/TestResults/alexander.meseldzija_PC-L0109_2024-11-20_14_57_05.trx
/XUnit/bin/Debug/net9.0
/XUnit/obj
/XUnit/TestResults
*.log
/TestResult.xml
